{% extends '../../views/base.twig' %}

{% block title %}Index page{% endblock %}
{% block page_class %}index-page__wrap{% endblock %}

{% block body %}
<h1>Index page</h1>
<p>Index text page</p>
{% endblock %}